.list-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__buttons{
        display: flex;
        cursor: pointer;
        &>*{
            margin:10px 15px;
        }
    }
}

.paginator-container{
    margin:12 px;
    
}