// .list-line {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     &__buttons{
//         display: flex;
//         cursor: pointer;
//         &>*{
//             margin:10px 15px;
//         }
//     }
// }

.list-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__buttons {
        display: flex;
        &>* {
            margin: 5px;
        }
    }
    &__check {
        display: flex;
        flex-direction: column;
        &__client {
            font-weight: bold;
        }
        &__manager {
            color: gray;
            font-size: 50%;
            font-style: italic;
        }
    }
}

.paginator-container{
    margin:12 px;
    
}

.filter {
    margin:15px 15px;
}

